PORT=3000
NODE_ENV=development
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
ADMIN_OWNER_ID=9350238504
ADMIN_PASSWORD=admin143
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=serveloco
MYSQL_USER=root
MYSQL_PASSWORD=root
MONGODB_URI=mongodb://localhost:27017/
MONGODB_DATABASE=serveloco_images
CORS_ORIGIN=*
PUBLIC_BASE_URL=http://10.0.2.2:3000
UPLOAD_DIR=uploads
MAX_IMAGE_SIZE_MB=5
STATIC_UPLOAD_PATH=/uploads
